.contact form 
        {
            border-radius: .5rem;
            /* background-color: var(--light-bg); */
            background-color: white;
            padding: 2rem;
            margin: 0 auto;
            max-width: 50rem;
            border: 2px solid black;
            align-items: center;
            animation: animate 8s ease-in infinite;
        }

        h1 {
            margin: 50px;
            background-color: yellow;
            color: 10px solid black;
            margin-top: 10px;
        }
        .head{
            background-color: yellow;
            align-items: center;
            text-align: center;
            margin-left: 400px;
            margin-right: 400px;
            height: 50px;
            margin-top: 20px;
            
        }

        .contact form .message {
            margin-bottom: 2rem;
            border-radius: .5rem;
            background-color: var(--blue);
            padding: 1.2rem 1rem;
            font-size: 1.7rem;
            color: var(--white);
            text-align: center;
        }

        .contact form .box {
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 2rem;
            border-radius: .5rem;
            background-color: white;
            padding: 1.2rem 1.4rem;
            font-size: 1.7rem;
            color: var(--black);
            text-transform: none;
            border: 2px solid black;
            display: block;
            animation: animate 8s ease-in infinite;
        }

        .contact form span {
            font-size: 1.7rem;
            color: var(--black);
        }
        @keyframes animate{
      0%{
        border: 4px inset yellow;
      }
      15%{
        border: 4px inset orangered;
      }
      30%{
        border: 4px inset red;
      }
      60%{
        border: 4px inset blue;
      }
      100%{
        border: 4px inset crimson;
      }
    }