body {
    background-color: white;
}

form {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 50px;
    background-color: white;
    font-style: normal;
    color: black;
    width: 500px;
    box-shadow: 2px black;
    border: 2px solid black;
    border-radius: 25px;
    display: grid;
    justify-content: center;
    font-size: larger;
}

h1 {
    text-align: center;
    color: orangered;
}
hr{
    background-color: black;
}

.btn {
    width: 200px;
    height: 40px;
    text-align: center;
    margin-left: 10px;
    border-radius: 20px;
    background-color: cyan;
    font-weight: 700;
    font-size: 15px;
}

input {
    width: 400px;
    border: 2px solid gray;

}

/* .tbl{
    text-align: center;
    align-items: center;
} */