.services{
    background-color: var(--light-bg);
 }
 
 .services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
 }
 
 .services .box-container .box{
    text-align: center;
    padding:2rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
 }
 
 .services .box-container .box img{
    margin:1rem 0;
    height: 4rem;
 }
 
 .services .box-container .box h3{
    font-size: 2rem;
    padding:1rem 0;
    color:var(--black);
 }
 
 .services .box-container .box p{
    font-size: 1.5rem;
    color:var(--light-color);
    line-height: 2;
 }
 
 .process .box-container{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
 }
 
 .process .box-container .box{
    background-color: var(--blue);
    padding:2rem;
    border-radius: .5rem;
    text-align: center;
    box-shadow: var(--box-shadow);
 }
 
 .process .box-container .box img{
    height: 20rem;
    margin:1rem 0;
 }
 
 .process .box-container .box h3{
    font-size: 2rem;
    color:var(--white);
    margin:1.5rem 0;
 }
 
 .process .box-container .box p{
    font-size: 1.5rem;
    color:var(--white);
    line-height: 2;
 }
 